.bestC{
    margin-top: 120px;
    margin-bottom: 120px;
}

.brends-catagory{
    width: 97%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    grid-gap:20px;
  
}
.catagory-box{
    border-radius: 15px;
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
  
}
.catagory-box:nth-child(1){
    grid-column: span 2;
   
}
.catagory-box:nth-child(2){
    grid-row: span 2;
   

}
.catagory-box{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
       
    }
}

@media only screen and(max-width:768px) {
    .brends-catagory{
     
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr)) !important;
        grid-auto-rows: 300px;
    }
    .catagory-box:nth-child(1){
      display: none;
    }
    .catagory-box:nth-child(2){
        display: none;
    }
}