div.hot-catagories{
    width: 97%;
    height: 300px;
    margin-left: 30px;
    margin-bottom: 250px;

    .hot-item{
        position: relative;
        transition: 1s;
        &:hover{
            img{opacity: 0.8;}
            .hotimg-text{
                opacity: 1;
                background: #fff;
                transition: 0.5s;
                top:130px;
                p{
                    color: #ff0c00;
                }

            }
        }
    .hotimg-text{
        width: 210px;
        height: 45px;
        background: #f5f5f5;
        position: absolute;
        top: 230px;
        display: flex;
        align-items: center;
        justify-content:center;
        opacity: 0.7;
        p{
            margin: 0;
            margin-bottom: 5px;
            font-size: 20px;
            opacity: 1 !important;
            z-index: 1;
        }
    }
    }
.slick-next{
    background-color: #ff0c00 !important;
    margin-top: -200px;
    border-radius: 100%;
    margin-right: 40px;
    width: 40px !important;
    height: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.slick-prev{
    background-color: #ff0c00 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -200px;
    margin-left: 1230px;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
  
}
   
    img{
        width: 210px;
        height: 290px;
    }

    div.hot-text{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        div.title-box{
            width: 200px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            height: 50px;
            border: 1px solid #ff0c00;
            h3{
                margin-bottom: 10px;
                margin-top: 5px;
                margin-left: 10px;
                font-family: 'Didact Gothic', sans-serif;
                font-weight: 600;
                letter-spacing: 2px;
                      color: #000;
                     
                  
              }
         }
         div.line{
            width: 980px;
            margin-left: 10px;
            margin-top: 5px;
            height: 3px;
            border-radius: 2px;
            background-color: #e7e3e3;
        }
    }
}

@media only screen and(max-width:768px){
    .hot-catagories{
        .hot-text{
            div.title-box{
                width: 180px !important;
               
            }
            div.line{
                width: 380px !important; 
            } 
        }
        .slick-next{
            background-color: #ff0c00 !important;
            margin-top: -205px !important;
            border-radius: 100%;
            margin-right: 60px !important;
            width: 40px !important;
            height: 40px !important;
            
        }
        .slick-prev{
            background-color: #ff0c00 !important;
            margin-top: -205px !important;
            margin-left: 630px !important;
            border-radius: 100%;
            width: 40px !important;
            height: 40px !important;
          
        }
    }
    
      
}

@media only screen and(max-width:500px){
    .hot-catagories{
        .hot-text{
            div.title-box{
                width: 180px !important;
               
            }
            div.line{
                width: 140px !important; 
            } 
        }
        .slick-next{
            background-color: #ff0c00 !important;
            margin-top: -205px !important;
            border-radius: 100%;
            margin-right: 60px !important;
            width: 40px !important;
            height: 40px !important;
            
        }
        .slick-prev{
            background-color: #ff0c00 !important;
            margin-top: -205px !important;
            margin-left: 370px !important;
            border-radius: 100%;
            width: 40px !important;
            height: 40px !important;
          
        }
    }
    
      
}