section.product{
    width: 95%;
    margin-left: 30px;
    margin-top: 150px;
   .product1-text{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 40px;
       button{
        width: 150px;
        height: 50px;
        background: #ff0c00;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        padding: 10px 22px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        letter-spacing: 1PX;
        border: 2px solid #ff0c00;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &:hover{
            background-color: #000;
            border: 2px solid #000;
        }
       }
       div.line{
           width: 870px;
           height: 3px;
           background-color: #e7e3e3;
       }
       div.title-box{
        width: 240px;
        height: 50px;
        border: 1px solid #ff0c00;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        h2.product-name{
           
            margin-top: 5px;
            margin-left: 10px;
            font-size: 30px;
            font-family: 'Didact Gothic', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
                  color: #000;
                  span{
                      color: #ff0c00;;
                  }
              
          }
     }
    
   }
    .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: dense;
    grid-gap:20px;
    grid-row-gap:40px;
    .card{
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border:1px solid grey;
        border-radius: 15px;
        background-color: #fff;
      
       p.card-text-price{
           color: red;
           font-size: 20px;
           font-weight: 500;
       }
       
      img{
          border-radius: 100%;
      }
      &:hover{
          border: 3px solid #f02034;
          
          .boxs{
              display: flex;
              margin-top: 0px;
              transition: 1s;
              opacity: 1;
          }
          img{
            opacity: 0.5;
          }
          button{
              background-color: #f02034;
              color: #fff;
              border: none;
          }
      }
      button{
          border: 1px solid #e5e5e5;
          &:hover{
              background-color: #ce192b;
          }
          
      }
    }
    }
    
}
// Icons**********************************

div .icons-text{
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    top: 150px;
    left: 70px;
    .boxs{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 150px;
        transition: 1s;
        opacity: 0;
        i{
            color: #f02034;
        }
        &:hover{
            background-color: #f02034;
            i{
                color: #fff;
            }
        }
    }
}



// *************************************************
@media only screen and(max-width:768px) {
    section.product{
        width: 90%;
        margin-top: 100px;
        .product1-text{
            div.title-box{
                width: 190px;
                h2{
                    margin-top: 10px !important;
                    font-size: 24px !important;
                }
            }
            div.line{
                width: 70px;
                height: 3px;
                background-color: #e7e3e3;
            }
           
        }
        .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-auto-rows: 700px;
        grid-auto-flow: dense;
        grid-gap:10px;
        grid-row-gap:40px;
        .card{
            margin-left: 5px;
        }
        div .icons-text{
            width: 170px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 150px;
            left: 140px;
        }
        }}
   
}


// ****************************************************
@media only screen and(max-width:500px) {
    section.product{
        width: 90%;
        margin-left: 20px;
        margin-top: 100px;
        .product1-text{
            div.title-box{
                width: 190px;
                h2{
                    margin-top: 10px !important;
                    font-size: 24px !important;
                }
            }
            div.line{
                width: 70px;
                height: 3px;
                background-color: #e7e3e3;
            }
           
        }
        .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-auto-rows: 700px;
        grid-auto-flow: dense;
        grid-gap:10px;
        grid-row-gap:40px;
        .card{
            margin-left: 5px;
        }
        div .icons-text{
            width: 170px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 150px;
            left: 140px;
        }
        }}
   
}