@import 'header';
@import 'homesec1';
@import 'homesec2';
@import 'footer';
@import 'followus';
@import 'brendsec1';
@import 'homebarner';
@import 'brendsbarner';
@import 'firstcatagory';
@import 'productItem';
@import 'product2';
@import 'homeblog';
@import 'cartpage';
@import 'blogpage';
@import 'idmantype';
@import 'fitnes';
@import 'idmancloth';
@import 'giris';
@import 'registr';
@import 'registrend';
@import 'checkout';
@import 'checkoutdetails';
@import 'payment';
@import 'paymentend';
@import 'endbarner';
@import 'hotcatagories';
@import 'productdetailspage';
@import 'news';
@import 'notfoundpage';
